<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> BEAUTY LIFE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav"> 
  
        
        <img
        width="40"
        alt="Angular Logo"
        src="assets/images/2e37cd289b65b3f7732d3fb8a2205d51.jpg"
      />
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
          </li>
          
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/services">services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/contact">contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/prices">prices</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/appoinment">appoinment</a>
          </li>
        </ul>
      </div>
      <a href="login" style="text-decoration: none; color: white;">LOGOUT</a>
    </div>
  </nav>
  

<div class= "toolbar" role="banner">
    <head>
     <style>
       .gfg {
             margin: 3%;
             position: relative;
         }
   
         .first-txt {
             position: absolute;
             top: 17px;
             left: 50px;
             color:rgb(243, 245, 240)
         }
   
         .second-txt {
             position: absolute;
             bottom: 20px;
             left: 10px;
             color:rgb(14, 86, 110)
         }
             
         h1 {text-align: center;} 
         p{text-align: center;}
     
         
     h2{text-align: center;}
     
     
         
     
     </style>
     </head>
     <body style="background-color:rgb(201, 190, 165);">
       <h1 style="background-color:rgb(201, 88, 142);color:rgb(10, 8, 8);font-size:80px;">CONTACT US.</h1>
         <h2> Enhance Your Beauty And Uniqueness </h2>
         
         <img
         width="1500"
         
         alt="Angular Logo"
         src="assets/images/Free-saloon-Beauty-spa-logo-Graphics-15584378-1.jpg"
       />
       </body>
       <br><br>
       <div class="container">
           <div class="row">
               <div class="instructions">
                   <h1 class="text-center">contact us now.</h1>
                   <p>
                      we are open seven days a week now.and we are open between 9am-9pm every day of the week.please contact us more information and the appointment shedule.
                       <ul>
                           <p style="font-family:'Brush Script MT', cursive;background-color:rgb(207, 159, 182);color:rgb(10, 8, 8);font-size:40px;">contact /01123265985/01124578963</p>
                           <p style="font-family:Georgia, serif;color:rgb(10, 8, 8);font-size:25px;">No-45</p>
                           <p style="font-family:Georgia, serif;color:rgb(10, 8, 8);font-size:25px;">galle road</p>
                           <p style="font-family:Georgia, serif;color:rgb(10, 8, 8);font-size:25px;">colombo</p>

                       </ul>
                   
               
          
                       <h2 style="background-color:rgb(14, 14, 14);color:rgb(245, 237, 237);font-size:40px;font-family:Georgia,"> "If you have any questions about your cosmetics, you have the opportunity to ask us. You can direct any problems to us through the chat box below."</h2>   
         
         
     <app-chat-box></app-chat-box>
        
                    
     
                                      
     
     
     </div>
     
