<div class= "toolbar" role="banner">
    <head>
     <style>
       .gfg {
             margin: 3%;
             position: relative;
         }
   
         .first-txt {
             position: absolute;
             top: 17px;
             left: 50px;
         }
   
         .second-txt {
             position: absolute;
             top: 40px;
             left: 20px;
         }
         h1 {text-align: center;} 
         p{text-align: center;}
     
     
     h2{text-align: center;}
     h4{text-align: center;}

     .container {
  display: flex;
  align-items: center;
  justify-content: center
}

img {
  max-width: 100%
}

.image {
  flex-basis: 40%
}

.text {
  font-size: 12px;
  padding-left: 20px;
}
    
     
     
     
     </style>
     </head>
     <body style="background-color:rgb(201, 190, 165);">

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"> BEAUTY LIFE</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav"> 
      
            
            <img
            width="40"
            alt="Angular Logo"
            src="assets/images/2e37cd289b65b3f7732d3fb8a2205d51.jpg"
          />
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
              </li>
              
              
              <li class="nav-item">
                <a class="nav-link" routerLink="/services">services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " routerLink="/contact">contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " routerLink="/prices">prices</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " routerLink="/appoinment">appoinment</a>
              </li>
            </ul>
          </div>
          <a href="login" style="text-decoration: none; color: white;">LOGOUT</a>
        </div>
      </nav>
      
       <h1 style="background-color:rgb(201, 88, 142);color:rgb(10, 8, 8);font-size:80px;">OUR SERVICES</h1>
         <h2> Enhance Your Beauty And Uniqueness </h2>
         
       <div class="gfg">
         <img
         width="1500"
         
         alt="Angular Logo"
         src="assets/images/istockphoto-856952780-612x612.jpg"
       />
       <body>      </body>
        <div class="container">
          <div class="image">
            
            <img src="assets/images/d4061ce1-ec34-46de-8405-9cfb17488808.jpg">
          </div>
          <div class="text">
            <h1>"SHENON MAXDA"</h1>
            <p>MOST TALANTED BEAUTICIEAN AND HAIR EXPERTER</p>
          </div>
        </div>

        <body>
        <div class="container">
            <div class="image">
              
              <img src="assets/images/istockphoto-853924196-612x612.jpg">
            </div>
            <div class="text">
              <h1>"DINEL AGENDA"</h1>
              <P>TALANTED STYLIST AND POPULER FACE BEAUTYCIEAN</P>
            </div>
          </div>
          </body>

          <body>
          <div class="container">
            <div class="image">
              
              <img src="assets/images/istockphoto-1320996006-612x612.jpg">
            </div>
            <div class="text">
              <h1>"EMEL NIYOM"</h1>
              <P>TALANTED STYLIST AND POPULER FACE BEAUTYCIEAN</P>

            </div>
            <br>

        
        <body></body>
            <div class="container">
                <div class="image">
                  
                  <img src="assets/images/istockphoto-1280387272-612x612.jpg">
                </div>
                <div class="text">
                  <h1>"VEGON ALXA"</h1>
                  <P>TALANTED STYLIST AND POPULER FACE BEAUTYCIEAN WITH SPECIAL TREATMENTS.</P>
                </div>

    
     
         <h3 class="first-txt">
                 
           <h4 style="font-family:courier;background-color:rgb(186, 130, 157);color:rgb(10, 8, 8);font-size:50px;">OUR FACIALS.</h4>
           <h2> BEAUTY LIFE </h2>
           <p style="background-color:rgb(89, 81, 22);color:rgb(10, 8, 8);font-size:28px;"> 30,50and 75 minute customized facials to give your skin what it needs and give you the knowledge you want to keep it at its best.</p>
           <br>
           <p style="background-color:rgb(89, 81, 22);color:rgb(10, 8, 8);font-size:28px;"> we shape your home skincare routine with clean.effective,and enjoyable product that harness the dower of nature and apply .</p>
  <br> 
               <p>At Meraki we believe creating relationships with our clients is essential to ensure we are exceeding your expectations! 

                Our salon is filled with passionate, talented, and driven stylists.  We want  to provide you with great service, great hair, and quality work.   Not only do we want you to leave the salon feeling amazing about your look, but we want to send you home with the tools, and the knowledge you need to care for your hair at home and love it in your own hands!</p>
  
          
         </h3>
        
           
         <h5 class="second-txt">
          
         </h5>
     </div>
           
         
         
         
         
         
         
         
         
         
         
         
         
         
         
     
        
     
     
                                      
     
     
     </div>
     
         
         
         
         
         
         
         
         
         
         
        